.wrap {
  position: relative;
  font-family: PingFangSC-Regular;
  background: #e8f4fe;
}

.topBg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 860px;
  background: url(../assets/images/header_bg.png);
  background-size: cover;
}

.main {
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 111px;
}

.bottomBg {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 310px;
  background: url(../assets/images/footer_bg.png);
  background-size: cover;
}

// tool

.separatePrimary {
  height: 50px;
}

.separateSecondary {
  height: 90px;
}
